[Desktop Entry]
Name[ru_RU]=Дата и время
GenericName[ru_RU]=Настройки даты и времени
Comment[ru_RU]=Настроить дату и время вашей системы

#TRANSLATIONS_DIR=translations
