[Desktop Entry]
Name[ru_RU]=Пользователи и группы
GenericName[ru_RU]=Настройки пользователей и групп
Comment[ru_RU]=Настроить пользователей и группы вашей системы

#TRANSLATIONS_DIR=translations
