#Translations
Name[it]=Utenti e gruppi
GenericName[it]=Configurazione degli utenti e gruppi
Comment[it]=Configurazione degli utenti e dei gruppi del sistema
